# WK1 pandas basics <hr style = "border: 3px solid white"></hr>

Name: **Christian Jade G. Aguilar** <br>
Course: **CPE2A**

pandas - derived from **Pandel Data**

import **pandas** and **numpy** library

In [29]:
import pandas as pd
import numpy as np

Check the **version** of pandas

In [30]:
pd.__version__

'2.2.3'

# Creating Series Object

## List to Series

Create a **list** named **employee_names**

In [31]:
employee_names = ['Ammy White','Jack Stewart', "Richard Lauderdale", "Sarah Johnson"]
employee_names

['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']

Verify that the data tyoe if *employee_names* object is a list

In [32]:
type(employee_names)

list

Create **pandas Series object** named **employee_names_Series** containing the elements from *emploee_names* list

In [33]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0            Ammy White
1          Jack Stewart
2    Richard Lauderdale
3         Sarah Johnson
dtype: object

Verify that the data type of *employee_names_Series* object is **pandas series**

In [34]:
type(employee_names_Series)

pandas.core.series.Series

Create a Series object named **works_experience_years** directly using thee structure **pd.Series([...])** containing the elements: 5, 8, 3, and 10

In [35]:
works_experience_years = pd.Series([5, 8 , 3, 10])
works_experience_years

0     5
1     8
2     3
3    10
dtype: int64

## Array to series

Create a **NumPy Array** object named **array_age**

In [36]:
array_age = np.array([50, 53, 35, 43])
array_age

array([50, 53, 35, 43])

Verify that the data type *array_age* object is a **NumPy array**

In [37]:
type(array_age)

numpy.ndarray

Create a **pandas Series** object named **series_age** from *array_age*

In [38]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

Verify that the data type of *series_age* objecct is **Series**

In [39]:
#this is a comment
type(series_age)

pandas.core.series.Series

Use the **print()** function to display the content of *series_age*

In [40]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int64

# pandas Attributes

Create a **pandas Series** object named **work_experience_years** containing the elemenents 5 8 3 and 10

In [41]:
works_experience_years = pd.Series([5, 8, 3, 10])
works_experience_years

0     5
1     8
2     3
3    10
dtype: int64

Assign letters a b c d as **index** of the Series

In [42]:
works_experience_years = pd.Series([5, 8, 3, 10],
                                    index =['a', 'b', 'c', 'd'])
works_experience_years

a     5
b     8
c     3
d    10
dtype: int64

Check the *total number of elements** of the series

In [43]:
works_experience_years.size

4

Verify that the data stored n the **Series** is an **array**

In [44]:
works_experience_years.values

array([ 5,  8,  3, 10])

Check the data type of the ** elements** stored in the Series

In [45]:
works_experience_years.dtype

dtype('int64')

Assign **Work Experiencs(yrs.)** as a **name** of the series

In [46]:
works_experience_years.name = "Work Experience (Yrs.)"

Display the **name** of series

In [48]:
works_experience_years.name

'Work Experience (Yrs.)'

Display the **Series** itself, to see the **name** appear below the data values it contains

In [49]:
works_experience_years

a     5
b     8
c     3
d    10
Name: Work Experience (Yrs.), dtype: int64

# Creating a Series object from Dictionary

Create a **dictionary** named **workers_age**

In [50]:
workers_age = {'Amy White': 50, 'Jack Stewart': 53, 'Richard Lauderdale': 35, 'Sara Johnson': 43}
workers_age

{'Amy White': 50,
 'Jack Stewart': 53,
 'Richard Lauderdale': 35,
 'Sara Johnson': 43}

verify that the data typpe of the **workers_age** objects is a dictionary

In [51]:
type(workers_age)

dict